@page
@model EditProfileModel
@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Edit your account</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Country"></label>
                <input asp-for="Input.Country" class="form-control" />
                <span asp-validation-for="Input.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PictureLink"></label>
                <input asp-for="Input.PictureLink" class="form-control" />
                <span asp-validation-for="Input.PictureLink" class="text-danger"></span>
            </div>
         
            <button type="submit" class="btn btn-default">Edit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
