<section id="contact">
    <h1 class="clearer heading-spacer">Additional Contact Information</h1>
    <hr class="with-separator">
    <div class="ytg-2col">
        <h2>Developers</h2> <p>If you're a developer or interested in our APIs, please visit the <a href="/dev">Developer area</a>.</p>
    </div>
    <div class="ytg-2col ytg-last">
        <h2>Submit Additional Content to Google</h2> <p><a href="http://www.google.com/submit_content.html" target="_blank">See all opportunities</a> to distribute your content for free across Google including gadgets, product search, local business center and books.</p>
    </div>
    <h2 class="clearer heading-spacer">Our Address</h2>
    <p>You can contact ATHub at the address below.</p>
    <div class="vcard">
        <span class="fn">ATHub, LLC</span><br>
        <div class="adr">
            <span class="street-address">901 Cherry Ave.</span><br>
            <span class="locality">San Bruno</span>, <span class="region">CA</span> <span class="postal-code">94066</span><br>
            <span class="country-name">USA</span><br>
        </div>
        <div class="tel"><span class="type">Fax</span>: <span class="value">+1 650-253-0001</span></div>
    </div>
    <div class="well well-sm">
        <h3><strong>Contact Us</strong></h3>
    </div>
    <div class="row">
        <div class="col-md-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.744053587154!2d23.350088314541253!3d42.66677892367053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85cca4a719b7%3A0xdf53fcbcd8e758d7!2z0KHQvtGE0YLRg9C10YDQtdC9INGD0L3QuNCy0LXRgNGB0LjRgtC10YI!5e0!3m2!1sbg!2sbd!4v1546955112037" width="100%"  height="100%"frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-5">
            <h4><strong>Get in Touch</strong></h4>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" name="" value="" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="" value="" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" name="" value="" placeholder="Phone">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="" rows="3" placeholder="Message"></textarea>
                </div>
                <button class="btn btn-default" type="submit" name="button">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
                </button>
            </form>
        </div>
    </div>
</section>