@{
    ViewData["Title"] = "Home Page";
}
@model ATHub.Web.Models.Home.VideoModels
<h2 style="text-align:center">Best of ATHub</h2>
<div class="container">
    <script>
        $(document).ready(function () {
            initYouTubeModal();
        });

    </script>


    <div class="row justify-content-between">

        @Html.Partial("../Modals/Video/SingleVideo")

        @foreach (var video in Model.VideoModelss)
        {
            <div class="col-4">
                <p style="word-break:break-word;padding-bottom:10px; height:auto;text-align:center">@video.Title</p>
                <div style="padding-top:220px; cursor:pointer" >
                    <img width="300" height="200" style="padding-top:3px"  src="https://img.youtube.com/vi/@video.Link/hqdefault.jpg" class="video" data-toggle="modal" data-src="https://www.youtube.com/embed/@video.Link" data-target="#myModal"  />

                </div>
            </div>
        }
    </div>
</div>
