@{
    ViewData["Title"] = "Home Page";
}
@model ATHub.Services.Data.Models.IndexViewModel
<h2 style="text-align:center">Best of ATHub</h2>
<div class="container">
    <script>
        $(document).ready(function () {
            initYouTubeModal();
        });

    </script>


    <div class="row justify-content-between">

        @Html.Partial("../Modals/Video/SingleVideo")

        @foreach (var video in Model.Videos)
        {
            <div class="col-4">
                <p style="word-break:break-word;padding-bottom:10px; height:auto;text-align:center">@string.Concat(video.Title.Substring(0, Math.Min(30, video.Title.Length)),video.Title.Length > 30 ? "...":"")</p>
                <div style="padding-top:220px; cursor:pointer" >
                    <img id="@video.Id" width="250" height="200" style="padding-top:3px"  src="https://img.youtube.com/vi/@video.Link/hqdefault.jpg" class="video" data-toggle="modal" data-src="@video.Link" data-target="#myModal"  />
                </div>
            </div>
        }
    </div>
</div>
