
@{
    ViewData["Title"] = "Search";
}
@model ATHub.Services.Data.Models.IndexViewModel
<div class="container">
    <ul>
        @foreach (var video in Model.Videos)
        {
            <li>
                <p style="text-align:left">@video.Title</p>
                <img width="300" height="200" src="https://img.youtube.com/vi/@video.Link/hqdefault.jpg" data-src="https://www.youtube.com/embed/@video.Link" />
            </li>
        }
    </ul>
</div>