
@{
    ViewData["Title"] = "Search";
}
@model ATHub.Services.Data.Models.IndexViewModel
<script>
    $(document).ready(function () {
        initYouTubeModal();
    });

</script>
<div class="container">
    <div class="row justify-content-between">
        @foreach (var video in Model.Videos)
        {
            <div class="col-12">
                <p style="word-break:break-word;padding-bottom:10px; height:auto;text-align:center">@video.Title</p>
                <div style="padding-top:220px; cursor:pointer">
                    <img class="searchImg video" id="@video.Id" width="250" height="200" src="https://img.youtube.com/vi/@video.Link/hqdefault.jpg"  data-toggle="modal" data-src="@video.Link" data-target="#myModal" />
                </div>
            </div>
        }
    </div>
</div>
@Html.Partial("../Modals/Video/SingleVideo")


