<!DOCTYPE html>
<html>
@Html.Partial("../Base/Header")
<body>
    <script>
        //$(document).ready(function () {
        //    var ajax = new XMLHttpRequest();
        //    ajax.open("GET", "https://restcountries.eu/rest/v1/lang/fr", true);
        //    ajax.onload = function () {
        //        var list = JSON.parse(ajax.responseText).map(function (i) { return i.name; });
        //        new Awesomplete(document.getElementById('search'), { list: list });
        //    };
        //    ajax.send();
        //    $('#startSearch').click(function () {
        //        let text = $('#search').val();
        //        console.log(text);
        //    });
        //    //let awesomeComplete = new Awesomplete();
        //    //awesomeComplete.list = ["Ada", "Java", "JavaScript", "Brainfuck", "LOLCODE", "Node.js", "Ruby on Rails"];
        //});
        $('#startSearch').autoComplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetSearchValue", "Home")',
                    dataType: "json",
                    data: { search: $('#startSearch').val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }));
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });
            }
        });
    </script>
    <div class="bs-component">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">ATHub</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Videos" asp-controller="Videos" asp-action="Create" class="nav-link">Create</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" asp-area="" asp-controller="Home" asp-action="Search">
                    <input id="search" class="awesomplete form-control mr-sm-2" name="searchParam" />
                    <button id="startSearch" class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>

                <partial name="_LoginPartial" />
            </div>
        </nav>
    </div>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content">

        @RenderBody()
        <footer>
            <hr class="my-1" style="background:white" />
            <div class="footer-copyright text-center py-2" >&copy; CopyRight ATHub 2018. All rights reserved</div>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
