<!DOCTYPE html>
<html>
@Html.Partial("../Base/Header")
<body>
    <script>
        $(document).ready(function () {
           
           let autocmoplete = new Awesomplete(document.getElementById('search'), { list: [] });
            $('#search').keyup(function () {
                let input = $(this).val();
                if (input.length >= 3) {
                    $.ajax({
                        url: "/Home/GetSearchValue",
                        type: "GET",
                        data: { searchParam: $(this).val() },
                        success: function (data) {
                            let list = data.map((i) => { return i.name; });
                            autocmoplete.list = list;

                        }
                    })
                }
            });
        });
    </script>
    <div class="bs-component">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">ATHub</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Videos" asp-controller="Videos" asp-action="Create" class="nav-link">Create</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" asp-area="" asp-controller="Home" asp-action="Search">
                    <input id="search" class="awesomplete form-control mr-sm-2" name="searchParam" />
                    <button id="startSearch" class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>

                <partial name="_LoginPartial" />
            </div>
        </nav>
    </div>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content">

        @RenderBody()
        <footer>
            <hr class="my-1" style="background:white" />
            <div class="footer-copyright text-center py-2">&copy; CopyRight ATHub 2018. All rights reserved</div>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
