@model ATHub.Web.Areas.Administrator.Models.AllUsersViewModel
@{
    ViewData["Title"] = "ManageUsers";
}

<h2>ManageUsers</h2>
<div class="form-group">
    <label for="userDropDown">Select User</label>
    <select class="custom-select" id="userDropDown">
        @foreach (var user in @Model.Users)
        {
            <option id="@user.Id">
                @user.Username
            </option>
        }
    </select>
</div>
